.navbar{
    height:50px;
    width: 100%;
    background-color: #5653fdfa;
    margin-top: 0;

    
}
.nav_text{
    text-align: center;
    color: white;
    font-size: 30px;
    /* padding: 25%; */
}